.form__save {
	background-color: black;
	color: white;
	font-size: 18px;
	width: 100%;
	border: none;
	margin:0;
	padding: 18px 0;
	transition: opacity .1s linear;;
}

.form__save:hover {
	
	opacity: 0.8;
}