.profile__add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 2px solid white;
  width: 150px;
  height: 50px;
  align-self: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.profile__add-button > img {
  display: block;
  width: 22px;
  height: 22px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .profile__add-button {
    width: 100%;
  }
  .profile__add-button > img {
    width: 18px;
    height: 18px;
  }
}