.element__like-btn {
	margin: 0 0 3px 0;
	padding: 0;
	background: transparent url(../../../images/element-heart.svg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 22px;
	height: 19px;
	border: none;
	cursor: pointer;
	transition: 0.3s ease;
	display: flex;
	flex-direction: column;
}

.element__like-btn:hover {
	opacity: 0.5;
}
