.profile__info {
  margin: 0 auto 0 0;
  padding: 0;
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 24px;
  column-gap: 18px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    margin: 0 0 35px 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__info {
    grid-template-columns: 1fr 18px;
  }
}