.popup__description {
	margin-top: 10px;
	color: white;
	font-weight: 400;
	line-height: 14.52px;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 75vw;
  }
