.header {
	border-bottom: 1px solid rgba(84,84,84,.7);
	padding-bottom: 41px;
	padding-top: 45px;
	max-width: 880px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 768px) {
	.header {
		padding-bottom: 31.6px;
    padding-top: 28px;
	}
}